
body{
    font-family: 'Helvetica Neue', sans-serif;
}

.ms_bg-green{
    background-color: #D2FE56;
}

.ms_bg-violet{
    background-color: #CFBFFF;
}

.ms_bg-orange{
    background-color: #FFC139;
}

.ms_bg-black{
    background-color: black;
}

